.list-campi {
    list-style: none;
    padding: 0;

    > li {
        display: inline-block;
        margin-bottom: 5px;

        &:focus,
        &:active,
        &.active {
            > a {
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
}

.btn-campus {
    @include button-variant(#fff, $cor-campi, $cor-campi);
}

.tab-content {
    margin-bottom: $grid-gutter-width / 2;

    .dataTables_info {
        font-size: 0.9em;
    }
}

.modalidades-title {
    margin-bottom: 10px;
    margin-top: 20px;

    h2 {
        display: inline-block;
        margin: 0;
    }

    .dropdown {
        display: inline-block;
    }
}
