.widget_resultados_widget {
    background-color: transparent;

    h2 {
        color: #fff;
        font-size: 38px;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: uppercase;
    }
}

#resultados {
    background-color: $cor-verde-claro;
    margin-top: -5px;
    padding: ($grid-gutter-width / 2) $grid-gutter-width;

    .breadcrumb {
        > li {
            > a {
                font-weight: bold;

                &.breadcrumb-formaingresso {
                    color: $cor-formasingresso;
                }

                &.breadcrumb-campus {
                    color: $cor-campi;
                }

                &.breadcrumb-modalidade {
                    color: $cor-modalidades;
                }
            }
        }
    }

    .btn {
        margin-bottom: 10px;
    }
}

.btn-formaingresso {
    @include button-variant(#fff, $cor-formasingresso, $cor-formasingresso);
    border-radius: 0;
}

.btn-modalidade {
    @include button-variant(#fff, $cor-modalidades, $cor-modalidades);
    border-radius: 0;
}

@media (min-width: $screen-md-min) {
    .resultado-labels {
        float: right;
    }
}
