// Banners

#home-banners {
    margin-bottom: $grid-gutter-width / 2;
    overflow: hidden;

    div {
        max-height: 250px;
        @media (max-width: $screen-md-min) {
            margin-bottom: $grid-gutter-width / 2;
        }
    }
}


.carousel {
    .carousel-control.left,
    .carousel-control.right {
        @include reset-filter();
        background-image: none !important;
        outline: 0;
    }

    @media (min-width: $screen-md-min) {
        .carousel-control {
            visibility: hidden;
            width: 5% !important;
        }

        &:hover {
            .carousel-control {
                visibility: visible;
            }
        }
    }
}


// Widgets

.widget {
    &.banner {
        img {
            @extend .img-responsive;
            @extend .center-block;
        }
    }
}

.widget_pages {
    padding: 0 $grid-gutter-width $grid-gutter-width $grid-gutter-width;

    h2 {
        background-color: $cor-azul-escuro;
        color: #fff;
        font-weight: bold;
        margin-bottom: 0;
        margin-bottom: $grid-gutter-width;
        margin-left: -($grid-gutter-width);
        margin-right: -($grid-gutter-width);
        margin-top: 0;
        padding: 10px;
    }

    ul {
        list-style: none;
        padding: 0;
        width: 100%;
        height: 100%;

        @media (min-width: $screen-sm-min) {
            display: flex;
            justify-content: space-between;
        }

        li {
            display: inline-block;
            margin-bottom: 10px;
            margin-right: 10px;

            a {
                @extend .btn;
                @include button-variant(#fff, $cor-azul, $cor-azul-escuro);
                @extend .btn-lg;
                border-radius: 0;
                box-shadow: 5px 5px 1px $cor-azul-escuro;
                padding: 30px;
                text-transform: uppercase;
            }
        }
    }
}

.widget-home {
    background-color: $cor-verde-claro;
    margin-bottom: $grid-gutter-width;
}

.label-formaingresso {
    @include label-variant($cor-formasingresso);
}

.label-campus {
    @include label-variant($cor-campi);
}

.label-modalidade {
    @include label-variant($cor-modalidades);
}
