.content {
    @include decorated-border();
    padding: $grid-gutter-width;

    .post-title {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .post-thumb {
        width: 50%;
        height: auto;
        float: left;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .post-content {
        margin-top: $grid-gutter-width / 2;

        img {
            @extend .img-responsive;
        }

        table {
            @extend .table;
        }

        .alignleft {
            @extend .pull-left;
            margin-right: 10px;
        }

        .alignright {
            @extend .pull-right;
            margin-left: 10px;
        }

        .wp-caption-text {
            font-size: 0.8em;
        }
    }

    .post-meta {
        margin-top: 10px;
    }

    .post-date {
        font-size: 12px;
        font-style: italic;
    }

    .post-categories {
        font-size: 0.9em;
        list-style: none;
        text-align: right;

        li {
            display: inline;
            margin-left: 4px;
            margin-bottom: 4px;
        }
    }
}

.title {
    margin-top: 0;
}

.cat-title {
    background: #fafafa;
    padding: 8px;
}

.well {
    @include decorated-border();
    background-color: transparent;

    h3 {
        margin-bottom: $grid-gutter-width / 2;
        margin-top: $grid-gutter-width / 2;
    }
}
