#home-avisos {
    height: 100%;

    .ms-item {
        margin-bottom: $grid-gutter-width / 2;
    }
}

.home-aviso {
    @include decorated-border();
    padding: 20px;

    .aviso-data-wrapper {
        margin: -5px 0 0 -5px;
    }

    .aviso-data {
        background: url('../img/bg-aviso-date.png') center center no-repeat;
        background-size: cover;
        color: #fff;
        cursor: default;
        font-size: 1.4em;
        font-weight: bold;
        padding: 15px 0 15px 0;
        text-align: center;

        .dia {
            display: block;
            margin-bottom: 5px;
        }
    }

    .aviso-titulo {
        >h2 {
            color: $cor-titulo-aviso;
            margin-top: 0;
            margin-bottom: $grid-gutter-width / 2;
            font-size: 28px;
            font-weight: bold;
            >a {
                color: $cor-titulo-aviso;
            }
        }
    }

    .aviso-content {
        font-size: 0.95em;
    }

    .aviso-categorias-title {
        font-size: 0.85em;
        font-weight: bold;
    }

    .aviso-categorias {
        display: inline-block;
        list-style: none;
        padding: 5px;
        font-size: 12px;
        margin: 0;
        >li {
            display: inline;
            margin-bottom: 8px;
            &:after {
                content: " | ";
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
            a {
                color: #666;
            }
        }
    }

    .btn-leia-mais {
        @include button-variant(#fff, $cor-leia-mais, $cor-leia-mais);
        border-radius: 0;
    }
}
