$font-family-sans-serif:          "Open Sans", Helvetica, Arial, sans-serif;
$icon-font-path:                  "../vendor/bootstrap-sass/assets/fonts/bootstrap/";

$link-color:                      #1A619E;

$header-height:                   340px;

$cor-menu-item:                   #fff7ea;

$cor-border:                      #3C48B8;

$cor-titulo-aviso:                #A12A12;
$cor-leia-mais:                   $cor-titulo-aviso;

$cor-campi:                       #B13A0D;

$cor-rodape:                      #00773d;

$cor-verde-claro:                 #dae2da;
$cor-verde-escuro:                #0e552c;
$cor-vermelho:                    #c6202d;
$cor-azul-escuro:                 #3c567b;
$cor-azul:                        #5074ad;
$cor-laranja:                     #DC3C21;

$cor-rs:                          #71C59B;
$cor-regiao-litoral:              #E80F6D;
$cor-regiao-sul:                  #007769;
$cor-regiao-metropolitana:        #E8DA36;
$cor-regiao-norte:                #7E1648;
$cor-regiao-serra:                #642C8D;
$cor-regiao-vale-cai:             #547F3A;
$cor-regiao-encosta-serra:        #E97C24;

$cor-azul-resultados:             #1A3D75;
$cor-formasingresso:              #05827e;
$cor-modalidades:                 #7f1b66;
